interface ftdi
ftdi_vid_pid 0x0403 0x6014
ftdi_layout_init 0x0078 0x017b
adapter_khz 1000
ftdi_layout_signal nTRST -ndata 0x0010 -noe 0x0040
ftdi_layout_signal nSRST -ndata 0x0020 -noe 0x0040
#transport select jtag
#
##autoexit true
#
##interface cmsis-dap
##transport select jtag
#ftdi_layout_init 0x0008 0x001b
##ftdi_layout_signal nSRST -oe 0x0020 -data 0x0020
#
#reset_config none
#
## The speed of the JTAG interface, in KHz. If you get DSR/DIR errors (and they
## do not relate to OpenOCD trying to read from a memory range without physical
## memory being present there), you can try lowering this.
##
## On DevKit-J, this can go as high as 20MHz if CPU frequency is 80MHz, or 26MHz
## if CPU frequency is 160MHz or 240MHz.
#adapter_khz 1000

#interface ftdi
##ftdi_device_desc "Dual RS232"
#ftdi_vid_pid 0x0403 0x6010
#
##autoexit true
#
##interface cmsis-dap
#transport select jtag
#ftdi_layout_init 0x0008 0x001b
#ftdi_layout_signal nSRST -oe 0x0020 -data 0x0020
#adapter_khz 1000
#interface ftdi
#interface vsllink
#vsllink_usb_vid 0x0483
#vsllink_usb_pid 0xa038
