# vim:et:sts=4:sw=4:si
menu "Beacon Configuration"
    menu "Beacon ID"
        config BEACON_ID_BUILDER
            string "Device Builder ID (3 chars)"
            default "000"
            help
              Should be a registered 3 char [A-Z][0-9] string only!!
        
        config BEACON_ID_VERSION
            string "Device Version (3 chars)"
            default "AM1"
            help
              Should be a 3 char [0-9] string only!!
    
        config BEACON_ID_GROUP_MSB_IO
            int "Model Group MSB GPIO number"
            range 0 34
            default 26
            help
                GPIO number (IOxx) to use

        config BEACON_ID_GROUP_LSB_IO
            int "Model Group LSB GPIO number"
            range 0 34
            default 27
            help
                GPIO number (IOxx) to use

        config BEACON_ID_MASS_MSB_IO
            int "Model Weigh Class MSB GPIO number"
            range 0 34
            default 14
            help
                GPIO number (IOxx) to use

        config BEACON_ID_MASS_LSB_IO
            int "Model Weigh Class LSB GPIO number"
            range 0 34
            default 25
            help
                GPIO number (IOxx) to use
        
    endmenu
    menu "GPS configuration"
        config BEACON_GPS_PPS_IO
            int "GPS PPS GPIO number"
            range 0 34
            default 4
            help
                GPIO number (IOxx) to use to recieve PPS signal from GPS
    endmenu

    config BEACON_WIFI_CHANNEL
        int "WIFI Channel for beacon"
        range 1 14
        default 6
        help
            Use 6 by default

endmenu
